
div {
    width: 200px;
    height: 200px;
    margin-left: 50px;
}
.skew {
 background-color: red;
 
}
.skew:hover {
    transform: skew(20deg, 0deg);
}
.scale {
    background-color: yellow;
}
.scale:hover {
    transform: scale(2, 0.5);
}
.translate {
    background-color: green;
}
.translate:hover {
    transform: translate(120px, 50%);
}

.rotate {
 background-color: hotpink;
 border-bottom: 2px solid black ;
}
.rotate:hover {
    transform: rotate(0.5turn);
}
