<<<<<<< HEAD
* {
    text-align: center;
}
div {
    display: inline-block;
}
body {
    background-image: url(pink.jpg);
}
.container {
    margin-top: 200px;
}
span {
    text-transform: uppercase;
    font-size: 11px;
    color: gray;
}
.title {
    text-transform: uppercase;
    font-size: 50px;
}

.title {
    color: #00c9cc ;
}
p {
    color:grey;
    text-transform: uppercase;
}
img {
    width: 70px;
    height: 65px;
}
img:hover {
    color: white;
}
.anchor {
    width: 300px;
    height: 500px;
    background-color: rgba(247,247,247, 0.4);
}
.anchor:hover {
    background-color: #00c9cc;
    color: white;
}
.diamond {
    width: 300px;
    height: 500px;
    background-color: rgba(247,247,247, 0.4);
}
.diamond:hover {
    background-color: #00c9cc;
    color: white;
}
.eyeglasses {
    width: 300px;
    height: 500px;
    background-color: rgba(247,247,247, 0.4);
}
.eyeglasses:hover {
    background-color: #00c9cc;
    color: white;
}
.monitor {
    width: 300px;
    height: 500px;
    background-color: rgba(247,247,247, 0.4);
}
.monitor:hover {
    background-color: #00c9cc;
    color: white;
}
h2 {
    text-transform: uppercase;
}
.subtitle {
    font-size: 14px;
    width: 200px;
    height: 200px;
    text-align: left;
    display: inline-block;
    
}
.subtitle:hover {
    color: white;
=======
* {
    text-align: center;
}
div {
    display: inline-block;
}
body {
    background-image: url(pink.jpg);
}
.container {
    margin-top: 200px;
}
span {
    text-transform: uppercase;
    font-size: 11px;
    color: gray;
}
.title {
    text-transform: uppercase;
    font-size: 50px;
}

.title {
    color: #00c9cc ;
}
p {
    color:grey;
    text-transform: uppercase;
}
img {
    width: 70px;
    height: 65px;
}
img:hover {
    color: white;
}
.anchor {
    width: 300px;
    height: 500px;
    background-color: rgba(247,247,247, 0.4);
}
.anchor:hover {
    background-color: #00c9cc;
    color: white;
}
.diamond {
    width: 300px;
    height: 500px;
    background-color: rgba(247,247,247, 0.4);
}
.diamond:hover {
    background-color: #00c9cc;
    color: white;
}
.eyeglasses {
    width: 300px;
    height: 500px;
    background-color: rgba(247,247,247, 0.4);
}
.eyeglasses:hover {
    background-color: #00c9cc;
    color: white;
}
.monitor {
    width: 300px;
    height: 500px;
    background-color: rgba(247,247,247, 0.4);
}
.monitor:hover {
    background-color: #00c9cc;
    color: white;
}
h2 {
    text-transform: uppercase;
}
.subtitle {
    font-size: 14px;
    width: 200px;
    height: 200px;
    text-align: left;
    display: inline-block;
    
}
.subtitle:hover {
    color: white;
>>>>>>> 8107490c44e62e24fb388e89ced4e0e47a0a7303
}