

.head{
    display: inline-block;
    width: 1000px;
}

.nav{
    text-decoration: none;
    font-size: 30px;
    margin-left: 80px;
}
.back{
    display: inline;
    font-size: 20px;
    margin-left: 50%;
    text-decoration: none;
}